/*body{
    background-image: url("C:/Users/Tesla/Pictures/Website/Dreamer.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}*/

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 960px;
  position: relative;
}

.textbox {
  background-color: #A4A4A4;
  height: 450px;
  width: 400px;
  border-style: solid;
  border-color: black;
  border-width: thin;
  position: relative;
  padding-left: 60px;
  padding-right: 50px;
  padding-bottom: 10px;
  align-content: center;
}
.row {
  clear: both;
  margin: 0px;

}

#row2 {
  width: 100%;
  clear: both;
  margin: 0px;
  background-color: #A4A4A4;
  align-items: center;
}

.fancy {
  font-family:bold, serif;
  font-size: 4em;
  position:relative;
  color: #D71515;
}

.button1 {
    background-color: #4CAF50; /* Green */
    border-style: solid;
    border-color: white;
    border-width: thin;
    color: white;
    height: 50px;
    width: 130px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button2 {
    background-color: #008CBA;
    border-style: solid;
    border-color: white;
    border-width: thin;
    color: white;
    height: 50px;
    width: 130px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.column-full {
  width: 100%;
  height: auto;
  float: left;
  padding-bottom: 370px;
  background-image: url("C:/Users/Tesla/Pictures/Website/Dreamer.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.column-full2 {
  width: 100%;
  height: 150px;
  float: left;
  padding: 20px;
}

img {
    width: 100%;
    height: auto;
}
.column-one-half, .column-two-quarters {
  width: 50%;
  float: left;
  padding: 20px;
}

.column-one-third {
  width: 33.33333%;
  float: left;
  padding: 20px;
}

.column-two-thirds {
  width: 66.66666%;
  float: left;
  padding: 20px;
}

.column-one-quarter {
  width: 25%;
  float: left;
  padding: 20px;
}

.column-three-quarters {
  width: 75%;
  float: left;
  padding: 20px;
}
